<div class="jumbotron">
    <h1 class="display-3">Your Issue has been submitted! We will contact you immediately.</h1>
    <p class="lead">Out team is working on your issue.</p>
    <hr class="my-4">
    <p>immediately reaction mode.</p>
    <p class="lead">
        <a href="/users/logout" class="btn btn-secondary">Logout</a> 
    </p>
  </div>